@import url("./font.css");
@import url("./btn.css");
@import url("./list.css");
@import url("./nav.css");
html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans KR", "Roboto", sans-serif !important;
}

.logo {
  background-image: url("/img/logo.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mt_0 {
  margin-top: var(--m-0);
}

.mt_5 {
  margin-top: var(--m-5);
}

.mt_50 {
  margin-top: var(--m-50);
}

.mt_55 {
  margin-top: var(--m-55);
}

.mt_20 {
  margin-top: var(--m-20);
}

.mt_25 {
  margin-top: var(--m-25);
}

.mt_30 {
  margin-top: var(--m-30);
}

.mt_35 {
  margin-top: var(--m-35);
}

.mt_40 {
  margin-top: var(--m-40);
}

.mt_45 {
  margin-top: var(--m-35);
}

.mt_50 {
  margin-top: var(--m-50);
}

.mt_55 {
  margin-top: var(--m-55);
}

.mt_60 {
  margin-top: var(--m-60);
}

.mt_65 {
  margin-top: var(--m-65);
}

.mt_70 {
  margin-top: var(--m-70);
}

.mt_75 {
  margin-top: var(--m-75);
}

.mt_80 {
  margin-top: var(--m-80);
}

.mt_85 {
  margin-top: var(--m-85);
}

.mt_90 {
  margin-top: var(--m-90);
}

.mt_95 {
  margin-top: var(--m-95);
}

.mt_100 {
  margin-top: var(--m-100);
}

.mt_200 {
  margin-top: var(--m-200);
}

.mr_0 {
  margin-right: var(--m-0);
}

.mr_5 {
  margin-right: var(--m-5);
}

.mr_50 {
  margin-right: var(--m-50);
}

.mr_55 {
  margin-right: var(--m-55);
}

.mr_20 {
  margin-right: var(--m-20);
}

.mr_25 {
  margin-right: var(--m-25);
}

.mr_30 {
  margin-right: var(--m-30);
}

.mr_35 {
  margin-right: var(--m-35);
}

.mr_40 {
  margin-right: var(--m-40);
}

.mr_45 {
  margin-right: var(--m-35);
}

.mr_50 {
  margin-right: var(--m-50);
}

.mr_55 {
  margin-right: var(--m-55);
}

.mr_60 {
  margin-right: var(--m-60);
}

.mr_65 {
  margin-right: var(--m-65);
}

.mr_70 {
  margin-right: var(--m-70);
}

.mr_75 {
  margin-right: var(--m-75);
}

.mr_80 {
  margin-right: var(--m-80);
}

.mr_85 {
  margin-right: var(--m-85);
}

.mr_90 {
  margin-right: var(--m-90);
}

.mr_95 {
  margin-right: var(--m-95);
}

.mr_100 {
  margin-right: var(--m-100);
}

.mr_200 {
  margin-right: var(--m-200);
}

.mb_0 {
  margin-bottom: var(--m-0);
}

.mb_5 {
  margin-bottom: var(--m-5);
}

.mb_50 {
  margin-bottom: var(--m-50);
}

.mb_55 {
  margin-bottom: var(--m-55);
}

.mb_20 {
  margin-bottom: var(--m-20);
}

.mb_25 {
  margin-bottom: var(--m-25);
}

.mb_30 {
  margin-bottom: var(--m-30);
}

.mb_35 {
  margin-bottom: var(--m-35);
}

.mb_40 {
  margin-bottom: var(--m-40);
}

.mb_45 {
  margin-bottom: var(--m-35);
}

.mb_50 {
  margin-bottom: var(--m-50);
}

.mb_55 {
  margin-bottom: var(--m-55);
}

.mb_60 {
  margin-bottom: var(--m-60);
}

.mb_65 {
  margin-bottom: var(--m-65);
}

.mb_70 {
  margin-bottom: var(--m-70);
}

.mb_75 {
  margin-bottom: var(--m-75);
}

.mb_80 {
  margin-bottom: var(--m-80);
}

.mb_85 {
  margin-bottom: var(--m-85);
}

.mb_90 {
  margin-bottom: var(--m-90);
}

.mb_95 {
  margin-bottom: var(--m-95);
}

.mb_100 {
  margin-bottom: var(--m-100);
}

.mb_200 {
  margin-bottom: var(--m-200);
}

.ml_0 {
  margin-left: var(--m-0);
}

.ml_5 {
  margin-left: var(--m-5);
}

.ml_50 {
  margin-left: var(--m-50);
}

.ml_55 {
  margin-left: var(--m-55);
}

.ml_20 {
  margin-left: var(--m-20);
}

.ml_25 {
  margin-left: var(--m-25);
}

.ml_30 {
  margin-left: var(--m-30);
}

.ml_35 {
  margin-left: var(--m-35);
}

.ml_40 {
  margin-left: var(--m-40);
}

.ml_45 {
  margin-left: var(--m-35);
}

.ml_50 {
  margin-left: var(--m-50);
}

.ml_55 {
  margin-left: var(--m-55);
}

.ml_60 {
  margin-left: var(--m-60);
}

.ml_65 {
  margin-left: var(--m-65);
}

.ml_70 {
  margin-left: var(--m-70);
}

.ml_75 {
  margin-left: var(--m-75);
}

.ml_80 {
  margin-left: var(--m-80);
}

.ml_85 {
  margin-left: var(--m-85);
}

.ml_90 {
  margin-left: var(--m-90);
}

.ml_95 {
  margin-left: var(--m-95);
}

.ml_100 {
  margin-left: var(--m-100);
}

.ml_200 {
  margin-left: var(--m-200);
}

.pt_0 {
  padding-top: var(--m-0);
}

.pt_5 {
  padding-top: var(--m-5);
}

.pt_50 {
  padding-top: var(--m-50);
}

.pt_55 {
  padding-top: var(--m-55);
}

.pt_20 {
  padding-top: var(--m-20);
}

.pt_25 {
  padding-top: var(--m-25);
}

.pt_30 {
  padding-top: var(--m-30);
}

.pt_35 {
  padding-top: var(--m-35);
}

.pt_40 {
  padding-top: var(--m-40);
}

.pt_45 {
  padding-top: var(--m-35);
}

.pt_50 {
  padding-top: var(--m-50);
}

.pt_55 {
  padding-top: var(--m-55);
}

.pt_60 {
  padding-top: var(--m-60);
}

.pt_65 {
  padding-top: var(--m-65);
}

.pt_70 {
  padding-top: var(--m-70);
}

.pt_75 {
  padding-top: var(--m-75);
}

.pt_80 {
  padding-top: var(--m-80);
}

.pt_85 {
  padding-top: var(--m-85);
}

.pt_90 {
  padding-top: var(--m-90);
}

.pt_95 {
  padding-top: var(--m-95);
}

.pt_100 {
  padding-top: var(--m-100);
}

.pt_200 {
  padding-top: var(--m-200);
}

.pr_0 {
  padding-right: var(--m-0);
}

.pr_5 {
  padding-right: var(--m-5);
}

.pr_50 {
  padding-right: var(--m-50);
}

.pr_55 {
  padding-right: var(--m-55);
}

.pr_20 {
  padding-right: var(--m-20);
}

.pr_25 {
  padding-right: var(--m-25);
}

.pr_30 {
  padding-right: var(--m-30);
}

.pr_35 {
  padding-right: var(--m-35);
}

.pr_40 {
  padding-right: var(--m-40);
}

.pr_45 {
  padding-right: var(--m-35);
}

.pr_50 {
  padding-right: var(--m-50);
}

.pr_55 {
  padding-right: var(--m-55);
}

.pr_60 {
  padding-right: var(--m-60);
}

.pr_65 {
  padding-right: var(--m-65);
}

.pr_70 {
  padding-right: var(--m-70);
}

.pr_75 {
  padding-right: var(--m-75);
}

.pr_80 {
  padding-right: var(--m-80);
}

.pr_85 {
  padding-right: var(--m-85);
}

.pr_90 {
  padding-right: var(--m-90);
}

.pr_95 {
  padding-right: var(--m-95);
}

.pr_100 {
  padding-right: var(--m-100);
}

.pr_200 {
  padding-right: var(--m-200);
}

.pb_0 {
  padding-bottom: var(--m-0);
}

.pb_5 {
  padding-bottom: var(--m-5);
}

.pb_50 {
  padding-bottom: var(--m-50);
}

.pb_55 {
  padding-bottom: var(--m-55);
}

.pb_20 {
  padding-bottom: var(--m-20);
}

.pb_25 {
  padding-bottom: var(--m-25);
}

.pb_30 {
  padding-bottom: var(--m-30);
}

.pb_35 {
  padding-bottom: var(--m-35);
}

.pb_40 {
  padding-bottom: var(--m-40);
}

.pb_45 {
  padding-bottom: var(--m-35);
}

.pb_50 {
  padding-bottom: var(--m-50);
}

.pb_55 {
  padding-bottom: var(--m-55);
}

.pb_60 {
  padding-bottom: var(--m-60);
}

.pb_65 {
  padding-bottom: var(--m-65);
}

.pb_70 {
  padding-bottom: var(--m-70);
}

.pb_75 {
  padding-bottom: var(--m-75);
}

.pb_80 {
  padding-bottom: var(--m-80);
}

.pb_85 {
  padding-bottom: var(--m-85);
}

.pb_90 {
  padding-bottom: var(--m-90);
}

.pb_95 {
  padding-bottom: var(--m-95);
}

.pb_100 {
  padding-bottom: var(--m-100);
}

.pb_200 {
  padding-bottom: var(--m-200);
}

.pl_0 {
  padding-left: var(--m-0);
}

.pl_5 {
  padding-left: var(--m-5);
}

.pl_50 {
  padding-left: var(--m-50);
}

.pl_55 {
  padding-left: var(--m-55);
}

.pl_20 {
  padding-left: var(--m-20);
}

.pl_25 {
  padding-left: var(--m-25);
}

.pl_30 {
  padding-left: var(--m-30);
}

.pl_35 {
  padding-left: var(--m-35);
}

.pl_40 {
  padding-left: var(--m-40);
}

.pl_45 {
  padding-left: var(--m-35);
}

.pl_50 {
  padding-left: var(--m-50);
}

.pl_55 {
  padding-left: var(--m-55);
}

.pl_60 {
  padding-left: var(--m-60);
}

.pl_65 {
  padding-left: var(--m-65);
}

.pl_70 {
  padding-left: var(--m-70);
}

.pl_75 {
  padding-left: var(--m-75);
}

.pl_80 {
  padding-left: var(--m-80);
}

.pl_85 {
  padding-left: var(--m-85);
}

.pl_90 {
  padding-left: var(--m-90);
}

.pl_95 {
  padding-left: var(--m-95);
}

.pl_100 {
  padding-left: var(--m-100);
}

.pl_200 {
  padding-left: var(--m-200);
}

.fs_24 {
  font-size: 24px;
}/*# sourceMappingURL=style.css.map */