@charset "UTF-8";
/* btn */


/* btn-group > pagination : 1*/
.page_nav{
  margin-top: 4rem;
  text-align: center;
}

.btn_page{
  padding: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin: 0 1rem;
  border-radius: 4.5rem !important;
}
.btn_before, .btn_next{
  font-size: 2rem;
}